@model IEnumerable<EComm.Core.Entities.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<partial name="_ProductList" />

@Html.ActionLink("Do Something", "Go", "Product", null, new { @class = "big" })

<a href="@Url.Action("Go", "Product")" class="big">Do Something</a>

<a asp-controller="Product" asp-action="Go" class="big">Do Something</a>

