@page "/edit/{id}"
@inject HttpClient Http

<h1>Edit Product</h1>

<p>This component demonstrates editing product data.</p>
<AuthorizeView>
  <Authorized>
    <p>You are authorized as @context.User.Identity?.Name</p>
  </Authorized>
  <NotAuthorized>
    <p>You are not authorized</p>
  </NotAuthorized>
</AuthorizeView>

@if (product == null) {
    <p><em>Loading...</em></p>
}
else {
<EditForm Model="@product" OnValidSubmit="SaveProduct">
  <DataAnnotationsValidator />
  <fieldset>
    <div class="row mb-2">
      <label class="col-2" for="ProductName">Name:</label>
      <InputText class="col-6" id="ProductName" @bind-Value="product.ProductName" />
    </div>
    <div class="row mb-2">
      <div class="col-6 offset-2">
        <ValidationMessage For="@(() => product.ProductName)" />
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-2" for="UnitPrice">Unit Price:</label>
      <InputNumber class="col-6" id="UnitPrice" @bind-Value="product.UnitPrice" />
    </div>
    <div class="row mb-2">
      <div class="col-6 offset-2">
        <ValidationMessage For="@(() => product.UnitPrice)" />
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-2" for="Package">Package:</label>
      <InputText class="col-6" id="Package" @bind-Value="product.Package" />
    </div>

    <button class="mx-auto w-25 btn btn-success" type="submit">Save</button>
  </fieldset>
</EditForm>
<Alert @bind-Show="ShowAlert">
  <span class="oi oi-check mr-2" aria-hidden="true"></span>
  <strong>@Msg - Product saved</strong>
</Alert>
}

@code {
    [CascadingParameter]
    public string Msg { get; set; } = string.Empty;

    [Parameter]
    public string? Id { get; set; }

    private Product? product;

    private bool ShowAlert { get; set; }

    protected override async Task OnInitializedAsync()
    {
      product = await Http.GetFromJsonAsync<Product>($"api/product/{Id}");
    }

    private async Task SaveProduct()
    {
      await Http.PutAsJsonAsync($"api/product/{Id}", product);
      ShowAlert = true;
    }
}
